<div class="degreeRequirements">
  <div class="pure-form">
    <input type="text" placeholder="{{degreeRequirements.inputText}}" ng-disabled="!degreeRequirements.loaded"
           ng-model="degreeRequirements.selected"
           typeahead="degree as degree.name for degree in degreeRequirements.degrees | filter:{name:$viewValue} | orderBy:'name' | limitTo:8 ">
  </div>

  <div class="linkBox" ng-show="degreeRequirements.selected.websites">
    <a ng-repeat="requirement in degreeRequirements.selected.websites" class="pure-button" target="_blank"
       ng-href="{{requirement.website}}">
      {{requirement.buttonName}}
    </a>
  </div>
</div>

<div class="messageBox" ng-hide="degreeRequirements.selected">
  <div class="openQuote">
    <ng-md-icon icon="format_quote"></ng-md-icon>
  </div>
    Double check that you are fulfilling your graduation requirements
  <div class="closeQuote">
    <ng-md-icon icon="format_quote"></ng-md-icon>
  </div>
</div>
