<div class="jobPostings">
  <table class="pure-table pure-table-bordered">
    <thead>
    <tr>
      <th class="notSort">
        Title
      </th>
      <th>
        <div class="sort" ng-click="jobPostings.tableFilter('company' , !jobPostings.sortReverse)"><a href="#job-postings">Company
                  <div class="arrows">
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_up" ></ng-md-icon> </div>
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_down" ></ng-md-icon></div>
          
        </div></a>

        </div>
        
      </th>
      <th>
        <div class="sort" ng-click="jobPostings.tableFilter('location' , !jobPostings.sortReverse)"><a href="#job-postings">Location
          <div class="arrows">
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_up" ></ng-md-icon> </div>
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_down" ></ng-md-icon></div>
          
        </div>
          </a>
        
        </div>
      </th>
      <th class="notSort">
        Term
      </th>
      <th>
        <div class="sort" ng-click="jobPostings.tableFilter('deadline' , !jobPostings.sortReverse)"><a href="#job-postings">Deadline
            <div class="arrows">
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_up" ></ng-md-icon> </div>
          <div class="arrow"><ng-md-icon  icon="keyboard_arrow_down" ></ng-md-icon></div>
          
        </div>
          </a>
        
        </div>
      </th>
    </tr>
    </thead>
    <tr ng-repeat="jobPosting in jobPostings.jobPostings | orderBy:jobPostings.sortType:jobPostings.sortReverse">
      <td>
        <a target="_blank" href="{{jobPosting.link}}"> {{jobPosting.title}} </a>
      </td>
      <td>
        {{jobPosting.company}}
      </td>
      <td>
        {{jobPosting.location}}
      </td>
      <td>
        {{jobPosting.term}}
      </td>
      <td>
        {{jobPosting.deadline | date: format:'fullDate'}}
      </td>
    </tr>
  </table>

</div>
