<div class="jobPostings">
  <div ng-show="jobPostings.loaded">
    <table class="pure-table pure-table-bordered" ng-hide="jobPostings.jobPostings == null || jobPostings.jobPostings.length == 0">
      <thead>
      <tr>
        <th class="notSort">
          Title
        </th>
        <th>
          <div class="sort" ng-click="jobPostings.tableFilter('company' , !jobPostings.sortReverse)"><a
            href="#job-postings">Company
            <div class="arrows">
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_up" ng-show="jobPostings.sortType != 'company' || jobPostings.sortReverse"></ng-md-icon>
              </div>
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_down" ng-show="jobPostings.sortType != 'company' || !jobPostings.sortReverse"></ng-md-icon>
              </div>

            </div>
          </a>

          </div>

        </th>
        <th>
          <div class="sort" ng-click="jobPostings.tableFilter('location' , !jobPostings.sortReverse)"><a
            href="#job-postings">Location
            <div class="arrows">
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_up" ng-show="jobPostings.sortType != 'location' || jobPostings.sortReverse"></ng-md-icon>
              </div>
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_down" ng-show="jobPostings.sortType != 'location'  || !jobPostings.sortReverse"></ng-md-icon>
              </div>

            </div>
          </a>

          </div>
        </th>
        <th class="notSort">
          Term
        </th>
        <th>
          <div class="sort" ng-click="jobPostings.tableFilter('deadline' , !jobPostings.sortReverse)"><a
            href="#job-postings">Deadline
            <div class="arrows">
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_up" ng-show="jobPostings.sortType != 'deadline' || jobPostings.sortReverse"></ng-md-icon>
              </div>
              <div class="arrow">
                <ng-md-icon icon="keyboard_arrow_down" ng-show="jobPostings.sortType != 'deadline' || !jobPostings.sortReverse"></ng-md-icon>
              </div>

            </div>
          </a>

          </div>
        </th>
      </tr>
      </thead>
      <tr ng-repeat="jobPosting in jobPostings.jobPostings | orderBy:jobPostings.sortType:jobPostings.sortReverse">
        <td>
          <a target="_blank" href="{{jobPosting.link}}"> {{jobPosting.title}} </a>
        </td>
        <td>
          {{jobPosting.company}}
        </td>
        <td>
          {{jobPosting.location}}
        </td>
        <td>
          {{jobPosting.term}}
        </td>
        <td>
          {{jobPosting.deadline | date: format:'fullDate'}}
        </td>
      </tr>
    </table>
     <div class="noEvents" ng-show="jobPostings.jobPostings == null || jobPostings.jobPostings.length == 0">
      <div class="eventBusy">
        <ng-md-icon icon="work" size="50px"></ng-md-icon>
      </div>
      <p>There are no job postings</p>
    </div>
  </div>
</div>
