<div class="contribPage">
  <form class="pure-form pure-form-stacked">

    <label for="link">Link *</label>
    <input ng-model="addFair.link" id="link" type="text" placeholder="https://www.website.com/event" required>

    <label for="name">Name</label>
    <input ng-mode="addFair.name" id="name" type="text" placeholder="Jobs for Slobs">

    <label for="time">Time</label>
    <input ng-model="addFair.time" id="time" type="text" placeholder="January, Monday 5th, 2:00pm - 3:30pm">

    <label for="location" title="The location should be close to UBC (< 1 hour bus)">Location</label>
    <input ng-model="addFair.location" id="location" type="text" placeholder="Street, Vancouver, B.C">

    <label for="description">Description</label>
    <textarea ng-model="addFair.description" id="description" class="longText" placeholder="An informative description ..."></textarea>

    <label
      title="In case there are problems with the event details we may need to email you"
      for="email">Your Email</label>
    <input ng-model="addFair.email" id="email" type="email" placeholder="example@gmail.com">

    <button class="pure-button submitButton" type="submit" ng-click="addFair.submitCareerFair()">Submit Career Fair</button>

  </form>
</div>
