<div class="professors">
  <div class="pure-form">
    <input type="text" placeholder="what professor do you want to know more about?"
           ng-model="professors.selectedProf"
           typeahead="prof as prof.name for prof in professors.profs | filter:{name:$viewValue} | limitTo:8">
  </div>
  <div class="textBox" ng-show="professors.selectedProf.name">
    <br>

    <!-- Filter Toggle-->
    <div >
      <label ng-repeat="(name , reviewIndexes) in professors.selectedProf.courses" class="pure-button reviewToggle"
             ng-model="professors.selectedProf.reviewFilter" btn-radio="name">{{name}}</label>
    </div>

    <!-- Reviews -->
    <div class="reviews" ng-repeat="reviewIndex in professors.selectedProf.courses[professors.selectedProf.reviewFilter] | orderBy:professors.orderByDate:true">
      <div class="reviewDate">
          <strong>{{professors.selectedProf.reviews[reviewIndex].createDate | date: format:'fullDate'}}</strong>
      </div>
      
          <p>{{professors.selectedProf.reviews[reviewIndex].review}}</p>
          
    </div>

  </div>

    <!-- If no professors selected, display contribution message TODO style it -->
  <div  class="messageBox" ng-hide="professors.selectedProf">
    <div class="openQuote"><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
    At UBC, like all Universities, we have a range of professors, some mediocre (being polite here)
    and some exceptional. Regardless, they all could improve because teaching is fucking hard (not being polite here). Here
    you will find highly detailed reviews on professors, not only giving students an idea of where
    these professors stand on the mediocre-exceptional spectrum but also giving professors insight
    on where they could improve along with what they did well. If you have a
    professor who really made an impact on your education then write an awesome review for them and make their
    day - after all we need to keep our exceptional professors motivated! If you had a "mediocre" professor
    then write a review explaining what the professor did that made him/her "mediocre", most of these
    professors are actively looking for ways to improve.

    To write a review, email us at ubcio.team@gmail.com with the name of the professor, the course you
    took, and the review. We look forward to hearing about your experiences and are thankful to all
    the contributers in the ubc.io community!
     <div class="closeQuote" ><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
  </div>

</div>
