<div class="professors">
  <div class="pure-form">
    <input type="text" placeholder="what professor do you want to know more about?"
           ng-model="professors.selectedProf"
           typeahead="prof as prof.name for prof in professors.profs | filter:{name:$viewValue} | limitTo:8">
  </div>
  <div class="textBox" ng-show="professors.selectedProf.name">
    
     <h2>{{professors.selectedProf.name}}</h2> 
      <br>
  <p>
      {{professors.selectedProf.bio}}
    </p>
    <span ng-repeat="course in professors.selectedProf.courses">
      {{course}}{{$last ? '' : ', '}}
    </span><br>
    <button class="pure-button"  ng-show="professors.selectedProf.reviews">
             Reviews
           </button>
    <div class="reviews" ng-repeat="review in professors.selectedProf.reviews">
      {{review}}
    </div>

    
  </div>
</div>