<div class="contribPage">
  <form class="pure-form pure-form-stacked">

    <label for="link">Link *</label>
    <input ng-model="addSeminar.link" id="link" type="text" placeholder="https://www.website.com/event" required>

    <label for="name">Name</label>
    <input ng-mode="addSeminar.name" id="name" type="text" placeholder="Open Source Awesomeness">

    <label for="time">Time</label>
    <input ng-model="addSeminar.time" id="time" type="text" placeholder="Monday January 5th, 2:00pm-3:30pm">

    <label for="location" title="The location should be close to UBC (< 1 hour bus)">Location</label>
    <input ng-model="addSeminar.location" id="location" type="text" placeholder="Street, Vancouver, B.C">

    <label for="description">Description</label>
    <textarea ng-model="addSeminar.description" id="description" class="longText" placeholder="An informative description ..."></textarea>

    <button class="pure-button submitButton" type="submit" ng-click="addSeminar.submitSeminar()">Submit Seminar</button>

  </form>
</div>
