<div class="companies">
  <div class="pure-form">
    <input type="text" placeholder="{{companies.inputText}}" ng-disabled="!companies.loaded"
           ng-model="companies.selectedCompany"
           typeahead="company as company.name for company in companies.companies | filter:{name:$viewValue} | orderBy:'name' | limitTo:8">
  </div>
  <div class="textBox" ng-show="companies.selectedCompany.name">
    <h3>{{companies.selectedCompany.name}}</h3>

    <div class="reviews"
         ng-repeat="review in companies.selectedCompany.reviews | orderBy: companies.orderByDate:true">
      <div class="reviewDate">
        <strong>{{review.createDate | date: format:'fullDate'}}</strong>
      </div>
      <div class="review">
      <p>{{review.review}}</p>
      </div>
    </div>
  </div>

  <!-- If no company selected, display contribution message -->
  <div class="messageBox" ng-hide="companies.selectedCompany">
    <div class="openQuote">
      <ng-md-icon icon="format_quote"></ng-md-icon>
    </div>
      Make sure it's the right company before you sign the contract
    <div class="closeQuote">
      <ng-md-icon icon="format_quote"></ng-md-icon>
    </div>
  </div>
</div>
