<div class="courses">
  <div class="pure-form">
    <input type="text" placeholder="{{courses.inputText}}" ng-disabled="!courses.loaded"
           ng-model="courses.selectedCourse"
           typeahead="course as course.name for course in courses.courses | filter:{name:$viewValue} | orderBy:'name' | limitTo:20">
  </div>
  <div class="textBox" ng-show="courses.selectedCourse.name">
    <p>
      <h3>{{courses.selectedCourse.name}}</h3>
      <h5>{{courses.selectedCourse.credits}} credits</h5>
      {{courses.selectedCourse.description}}
      <br>
    <div class="requisits">
      <div ng-hide="courses.selectedCourse.prerequisites == null">
     <strong>Prerequisites: </strong> {{courses.selectedCourse.prerequisites}}
    </div>
    <div ng-show="courses.selectedCourse.prerequisites == null">
      <strong>Prerequisites: </strong>none
    </div>

    <div ng-hide="courses.selectedCourse.corequisites == null">
      <strong>Co-requisites:</strong> {{courses.selectedCourse.corequisites}}
    </div>
    <div ng-show="courses.selectedCourse.corequisites == null">
      <strong>Co-requisites:</strong> none
    </div>
    </div>


    <div ng-hide="courses.selectedCourse.tips == null">
      <button class="pure-button tipButton" ng-click="courses.selectedCourse.showTips = !courses.selectedCourse.showTips">
        Tips
      </button>
      <div class= "tips" ng-show="courses.selectedCourse.showTips" ng-repeat="tip in courses.selectedCourse.tips | orderBy: courses.orderByDate:true">
        <div class="reviewDate">
            <strong>{{tip.createDate | date: format:'fullDate'}}</strong>
          </div>
        <div class="tip">
          <p>{{tip.tip}}</p>
        </div>


      </div>
    </div>
    </p>
  </div>

  <!-- If no courses selected, display contribution message -->
  <div  class="messageBox" ng-hide="courses.selectedCourse">
    <div class="openQuote"><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
       Browse through and discover new courses quickly and conveniently
      <div class="closeQuote" ><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
  </div>
</div>
