<div class="courses">
  <div class="pure-form">
    <input type="text" placeholder="what course do you want to know more about?"
           ng-model="courses.selectedCourse"
           typeahead="course as course.name for course in courses.courses | filter:{name:$viewValue} | limitTo:20">
  </div>
  <div class="textBox" ng-show="courses.selectedCourse.name">
    <p>
      <h3>{{courses.selectedCourse.name}}</h3>
      <h5>{{courses.selectedCourse.credits}} credits</h5>
      {{courses.selectedCourse.description}}
      <br>
    <div class="requisits">
      <div ng-hide="courses.selectedCourse.prerequisites == null">
     <strong>Prerequisites: </strong> {{courses.selectedCourse.prerequisites}}
    </div>
    <div ng-show="courses.selectedCourse.prerequisites == null">
      <strong>Prerequisites: </strong>none
    </div>

    <div ng-hide="courses.selectedCourse.corequisites == null">
      <strong>Co-requisites:</strong> {{courses.selectedCourse.corequisites}}
    </div>
    <div ng-show="courses.selectedCourse.corequisites == null">
      <strong>Co-requisites:</strong> none
    </div>
    </div>
    

    <div ng-hide="courses.selectedCourse.tips == null">
      <button class="pure-button tipButton" ng-click="courses.selectedCourse.showTips = !courses.selectedCourse.showTips">
        Tips
      </button>
      <div class= "reviews" ng-show="courses.selectedCourse.showTips" ng-repeat="tip in courses.selectedCourse.tips | orderBy: courses.orderByDate:true">
        <div class="reviewDate">
            <strong>{{tip.createDate | date: format:'fullDate'}}</strong>
          </div>
        <p>{{tip.tip}}</p>
        
      </div>
    </div>
    </p>
  </div>

  <!-- If no courses selected, display contribution message TODO style it -->
  <div  class="messageBox" ng-hide="courses.selectedCourse">
    <div class="openQuote"><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
    Have you ever finished a course and had the following thought:
    <br>
    <br>
      "Man it would have been so much easier if I had just ..."
    <br>
    <br>
    I know you have! We ALL have, that's just how learning works - and this is where as a community we can benefit from each other.
    Not only will you find course information here (same as SSC),  you will find tips left by other students. So join the community,
    read course tips before you take courses AND leave tips of your own for future students!

    To leave a tip, simply email us at ubcio.team@gmail.com with the course name and the tip. We look forward to hearing from you :)
      <div class="closeQuote" ><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
  </div>
</div>
