<div class="tutors">
  <div class="pure-form">
    <input type="text" placeholder="what course do you need help with?"
           ng-model="tutors.selectedCourse"
           typeahead="course as course.name for course in tutors.coursesWithTutors | filter:{name:$viewValue} | limitTo:8">
  </div>
  <!-- In case there is just one tutor center it-->
  <div class="textBox tutorBox oneTutor" ng-show="tutors.selectedCourse.tutors.length == 1">
    <h2> {{tutors.tutors[0].name}} </h2>
    <h5>{{tutors.tutors[0].email + ", " + tutors.tutors[0].price}}per hour</h5>

    <p>
      {{tutors.tutors[0].bio}}<br>
    </p>

    <button class=" pure-button" ng-show="tutors.tutors[0].reviews"
            ng-click="tutors.tutors[0].showReviews = !tutors.tutors[0].showReviews">
      Reviews
    </button>
    <div ng-show="tutors.tutors[0].showReviews" class="reviews" ng-repeat="review in tutors.tutors[0].reviews">
      {{review}}
    </div>
  </div>

  <!-- If there is more than one tutor use a double tiled column approach -->
  <div ng-show="tutors.selectedCourse.tutors.length > 1">
    <div class="leftColumn">
      <div class="textBox tutorBox" ng-repeat="tutorIndex in tutors.selectedCourse.tutors" ng-if="$even">
        <h2> {{tutors.tutors[tutorIndex].name}} </h2>
        <h5>{{tutors.tutors[tutorIndex].email + ", " + tutors.tutors[tutorIndex].price}} per hour</h5>

        <p>
          {{tutors.tutors[tutorIndex].bio}}<br>

        </p>
        <button class="pure-button" ng-show="tutors.tutors[tutorIndex].reviews"
                ng-click="tutors.tutors[tutorIndex].showReviews = !tutors.tutors[tutorIndex].showReviews">
          Reviews
        </button>
        <div ng-show="tutors.tutors[tutorIndex].showReviews" class="reviews"
             ng-repeat="review in tutors.tutors[tutorIndex].reviews">
          {{review}}
        </div>
      </div>
    </div>
    <div class="rightColumn">
      <div class="textBox tutorBox" ng-repeat="tutorIndex in tutors.selectedCourse.tutors" ng-if="$odd">
        <h2> {{tutors.tutors[tutorIndex].name}} </h2>
        <h5>{{tutors.tutors[tutorIndex].email + ", " + tutors.tutors[tutorIndex].price}} per hour</h5>

        <p>
          {{tutors.tutors[tutorIndex].bio}}<br>

        </p>
        <button class=" pure-button" ng-show="tutors.tutors[tutorIndex].reviews"
                ng-click="tutors.tutors[tutorIndex].showReviews = !tutors.tutors[tutorIndex].showReviews">
          Reviews
        </button>
        <div ng-show="tutors.tutors[tutorIndex].showReviews" class="reviews"
             ng-repeat="review in tutors.tutors[tutorIndex].reviews">
          {{review}}
        </div>
      </div>
    </div>
  </div>
  <!-- If no course selected, display contribution message TODO style it-->
  <div class="messageBox" ng-hide="tutors.selectedCourse">
    <div class="openQuote"><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
    Would you like to contribute to the ubcIO community by becoming a tutor? Well we would love to have you! We take a
    whopping 0 percent of the money you make because taking a cut would be...fucking annoying to say the least. All
    you have to do is email us at ubcio.team@gmail.com with the following info:
    name, preferred email, price, bio, and the course(s) you would like to tutor. We look forward to hearing from you :)
    
    <div class="closeQuote" ><ng-md-icon  icon="format_quote"></ng-md-icon> </div>
  </div>
</div>
