@import 'settings', 'mixins', 'base', 'helpers', 'modules/island', 'modules/horizontal-list', 'modules/buttons', 'layouts/page', 'bootstrap';

// -------------------------------
// Globals

a:focus {
  color: $ubcGrey;
}

body {
  background-color: $ubcLightBlue;
}

.textBox {
  padding: 5px 30px 5px 30px;
  background-color: $ubcWhite;
}

input {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 625px) {
  input {
    width: 80%;
  }
}


textarea {
  width: 500px;
}

@media only screen and (max-width: 625px) {
  textarea {
    width: 80% !important;
    margin: auto;
  }
}

.messageBox {
  background-color: $ubcWhite;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  border: 5px solid $ubcBlack;
  font-family: 'Raleway';
  text-align: center;
}

.openQuote {
  transform: rotateY(180deg);
  display: inline-block;

}

.closeQuote {
  display: inline-block;
}

.reviews {
  padding: 10px;
  background-color: $ubcWhite;
  border: 2px solid $ubcBlue;
  border-radius: 5px;
  margin-bottom: 5px;
  .reviewDate {
    float: right;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .review {
    text-align: left;
    display: block;
    margin: auto;
    width: 85%;
  }
}

.reviewToggle {
  background-color: $ubcBlack !important;
  color: $ubcLightGrey !important;
  margin: 2px;
  margin-bottom: 20px;
}

.reviewButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background: $ubcBlue;
  color: $ubcWhite;
}

.tips {
  padding: 10px;
  background-color: $ubcWhite;
  border: 2px solid $ubcGreen;
  border-radius: 5px;
  margin-bottom: 5px;
  .reviewDate {
    float: right;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .tip {
    text-align: left;
    display: block;
    margin: auto;
    width: 85%;
  }
}

.tipButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background: $ubcGreen;
  color: $ubcWhite;
}

.noEvents {
  font-size: 40px;
  margin-top: 25%;
  color: $ubcGrey;
  p {
    display: inline-block;
  }
  .eventBusy {
    display: inline-block;
  }
}


.longText {
  height: 300px;
  width: 500px;
  word-wrap: normal;
}

// -------------------------------
// Navbar Styling

.header {
  font-size: 20px;
}

.pure-menu {
  background-color: $ubcBlack !important;
}

.pure-menu-link {
  color: $ubcLightGrey;
}

.navbarLinkActive {
  background-color: $ubcBlue !important;
  color: $ubcLightGrey;
}

.navbarLinkActive .pure-menu-link:hover {
  background-color: $ubcBlue;
}

.pure-menu-children {
  background-color: $ubcBlack;
}

.headerLink:focus {
  background-color: $ubcBlack !important;
  color: $ubcLightGrey;
}

.headerLink:hover {
  background-color: transparent !important;
  color: $ubcLightGrey;
}

.about:hover {
  color: $ubcLightGrey;
}

.about:focus {
  color: $ubcLightGrey;
}

.pure-menu-link:focus {
  background-color: inherit;
  outline: 0;
  color: $ubcLightGrey;
}

.pure-menu-link:hover {
  background-color: $ubcGrey;
  color: $ubcLightGrey;
}

@media only screen and (max-width: 485px) {
  .pure-menu {
    .headerIcon {
      display: inline !important;
    }
    .headerText {
      display: none;
    }
    .about {
      background-color: $ubcBlack;
    }
  }
}

// ---------------------------------
// The Project

.theProject {
  max-width: $base-width;
  margin: auto;
}

// ---------------------------------
// The Team

.theTeam {

  .textBox {
    margin-bottom: 30px;
  }

  .teamProfile {
    h2 {
      margin-bottom: 0;
      margin-top: 0;
    }
    h5 {
      font-weight: normal;
      margin-top: 0;
    }
    display: inline-block;
  }

  // Media queries
  @media only screen and (min-width: 200px) {
    .teamMember {
      img {
        display: block;
        width: 100%;
        min-width: 100px;
      }
      .teamProfile {
        margin-top: 0px;
      }
    }
  }

  @media only screen and (min-width: 450px) {
    .ubcIODescription {
      max-width: 500px;
      margin: auto;
      margin-top: 10px;
    }
    .teamMember {
      max-width: 500px;
      margin: auto;
    }
  }

  @media only screen and (min-width: 900px) {

    .textBox {
      height: 510px;
    }
    .ubcIODescription {
      max-width: 800px;
      margin: auto;
      margin-top: 10px;
    }
    .teamMembers {

      max-width: 800px;
      margin: auto;
    }
    .teamMember {
      display: inline-block;
      max-width: 372px;
    }
    div.teamMember:nth-child(odd) {
      float: left;

    }

    div.teamMember:nth-child(even) {
      float: right;

    }

  }

  @media only screen and (min-width: 1280px) {
    .ubcIODescription {
      max-width: $base-width;
      margin: auto;
      margin-top: 10px;
    }

    .teamMembers {
      max-width: $base-width;
      margin: auto;
    }

    .teamMember {
      max-width: $base-width;

      img {
        width: 247px;
        float: left;
      }

      .textBox {
        max-width: 926px;
        float: right;
        height: 237px;
      }
      p {
        width: 926px;
      }
      h5 {
        margin-bottom: -6px;
      }

    }

    div.teamMember:nth-child(odd) {
      float: none;
    }

    div.teamMember:nth-child(even) {
      float: none;
    }
  }

}

// -------------------------------
// Degree Requirements

.degreeRequirements {
  text-align: center;

  .active {
    background-color: $ubcBlue;
  }

  .linkBox {
    display: inline-block;

    a {
      margin-top: 10px;
      margin-left: 5px;
      background-color: $ubcBlack;
      color: $ubcLightGrey;
    }
    a:hover {
      background-color: $ubcGrey;
    }
  }

}

// -------------------------------
// Tutors

.tutors {
  text-align: center;

  .active {
    background-color: $ubcBlue;
  }
  h2 {
    margin-bottom: 0;
  }

  h5 {
    margin: 0;
  }

  @media only screen and (min-width: 200px) and (max-width: 768px) {
    .tutorBox {
      margin: auto;
      max-width: 550px;
      margin-bottom: 10px;
    }

  }

  @media only screen and (min-width: 769px) {
    max-width: $base-width;
    margin: auto;
    .tutorBox {
      @include border-box();
      border-width: 0 5px 10px 5px;
      border-style: solid;
      border-color: $ubcLightBlue;
      width: 100%;
      display: inline-table;
      margin-top: 5px;
    }
    .leftColumn {
      width: 49.8%;
      float: left;
    }

    .rightColumn {
      width: 49.8%;
      float: right;
    }
  }

  .oneTutor {
    max-width: 700px;
    margin: auto;
  }

}

// -------------------------------
// Courses

.courses {
  text-align: center;
  margin: auto;
  max-width: $base-width;

  .active {
    background-color: $ubcBlue;
  }
  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .requisits {
    margin-top: 10px;
  }
}

// -------------------------------
// Professors

.professors {
  text-align: center;
  margin: auto;
  max-width: $base-width;

  h2 {
    margin-bottom: 0;
  }

  h5 {
    margin: 0;
  }
}

.active {
  background-color: $ubcBlue !important;
  color: $ubcWhite !important;
}

//--------------------------------
// Training For Interviews

.trainingForInterviews {
  max-width: $base-width;
  margin: auto;

  .textBox {
    margin-bottom: 30px;
  }
}

//--------------------------------
// Companies

.companies {
  text-align: center;
  margin: auto;
  max-width: $base-width;
}

//---------------------------------
// Seminars

.seminars {
  text-align: center;
  max-width: $base-width;
  margin: auto;

  .textBox {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

//--------------------------------
// Hackathons

.hackathons {
  text-align: center;
  max-width: $base-width;
  margin: auto;

  .textBox {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

//----------------------------------
// Career Fairs

.careerFairs {
  text-align: center;
  max-width: $base-width;
  margin: auto;

  .textBox {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

//----------------------------------
// Job Postings

.jobPostings {
  max-width: $base-width;
  text-align: center;
  margin: auto;
  table {
    max-width: $base-width;
    background-color: $ubcWhite;
    margin: auto;
    margin-top: 10px;
  }
  .notSort {
    padding-bottom: 12px;
  }

  .sort {
    display: inline-block;
    a {
      color: $ubcBlack;
      float: left;
    }
  }

  .arrows {
    display: inline-block;
    float: right;
  }

  .arrow {
    margin-bottom: -20px;
    min-height: 30px;
  }
  .container {
    overflow: auto;
  }

}

//----------------------------------
// Resumes and Cover Letters

.resumeCoverletter {
  max-width: $base-width;
  margin: auto;

  .textBox {
    margin-bottom: 30px;
  }
}


//----------------------------------
// Logo

.logo {

  color: $ubcLightGrey;
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 40px;
  height: 40px;
  font-size: 40px;

  @media only screen and (max-width: 640px) {
    display: none;
  }
}

//----------------------------------
// Content

.content {
  margin-top: 30px;
  margin-left: 17px;
  margin-right: 17px;
}

//----------------------------------
// SubBar

.subBar {
  width: 100%;
  height: 70px;
  background-color: $ubcWhite;
  border-bottom: 2px solid $ubcLightGrey;

  .tower1 {
    position:absolute;
    top:55px;
    left:20px;
    width:30px;
    height: 60px;
    background-color: $ubcBlue;
  }

  .tower2 {
    position:absolute;
    top:75px;
    left:55px;
    width:30px;
    height: 40px;
    background-color: $ubcBlack;
  }

  .tower3 {
    position:absolute;
    top:95px;
    left:90px;
    width:30px;
    height: 20px;
    background-color: $ubcLightGrey;
  }

  .mainTab {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-left: 140px;
    display: inline-block;
    margin-top: 12px;

  }

  .actionTab {
    float: right;
    margin-top: 32px;
    margin-right: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: $ubcBlack;
  }

  .lastActionTab {
    margin-right: 5px;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  a {
    color: $ubcBlack;
  }

  .activeMain {
    border-bottom: 3px solid $ubcBlack;
  }

  .activeAction {
    border-bottom: 3px solid $ubcBlue;
  }

}

//----------------------------------
// Review Page

.reviewPage {

  max-width: $base-width;
  margin: auto;
  text-align: center;

  label , input , textarea {
    margin: auto !important;
  }

  .submitButton {
    background-color: $ubcGreen;
    color: $ubcWhite;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  label {
    margin-top: 20px !important;
  }


}

//----------------------------------
// Tip Page
.tipPage {

  max-width: $base-width;
  margin: auto;
  text-align: center;

  label , input , textarea {
    margin: auto !important;
  }

  .submitButton {
    background-color: $ubcGreen;
    color: $ubcWhite;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  label {
    margin-top: 20px !important;
  }


}


