@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page' , 'bootstrap';

// -------------------------------
// Globals
.textBox {
  padding: 5px 30px 5px 30px;
  background-color: $ubcWhite;
}

// -------------------------------
// Navbar Styling
.pure-menu {
    background-color: $ubcBlack !important;
}

.pure-menu-link {
    color: $ubcLightGrey;
}

.navbarLinkActive  {
    background-color:  $ubcBlue !important;
    color: $ubcLightGrey;
}

.navbarLinkActive .pure-menu-link:hover {
  background-color: $ubcBlue;
}

.pure-menu-children {
    background-color: $ubcBlack;
}

.headerLink:focus {
  background-color: $ubcBlack !important;
  color:$ubcLightGrey;
}

.headerLink:hover {
  background-color: transparent !important;
  color:$ubcLightGrey;
}

.about:hover {
  color:$ubcLightGrey;
}

.about:focus {
  color: $ubcLightGrey;
}

.pure-menu-link:focus {
    background-color:  $ubcBlue;
  color: $ubcLightGrey;
}

.pure-menu-link:hover {
   background-color: $ubcGrey;
  color: $ubcLightGrey;
}

@media only screen and (max-width: 480px){
 .pure-menu{
   ul {
      width: 100% !important;
  }
   li {
    display:block !important;
  }
 }
}

// ---------------------------------
// About Page

.teamProfile {
  h2{
    margin-bottom: 0;
    margin-top: 0;
  }
  h5{
    font-weight: normal;
    margin-top: 0;
  }
  display: inline-block;

}

.title {
  margin-top: 20px;
}

// Media queries 

@media only screen and (min-width: 200px){
.teamMember {
  img {
    display: block;
    margin-top: 30px;
    width: 100%;
    min-width: 100px;
  }
  .teamProfile {
    margin-top: 0px;
  }
}
}

@media only screen and (min-width: 450px){
  .ubcIODescription {
    max-width: 500px;
    margin: auto;
  }
  .teamMember {
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (min-width: 900px){
  .ubcIODescription {
    max-width: 800px;
    margin: auto;
  }
  .teamMembers{

    max-width: 800px;
    margin: auto;
  }
  .teamMember {
    display: inline-block;
    max-width: 372px;
  }
  div.teamMember:nth-child(odd){
    float: left;

  }

  div.teamMember:nth-child(even){
    float: right;

  }

}

@media only screen and (min-width: 1280px){
  .ubcIODescription {
    max-width: 1234px;
    margin: auto;
  }

  .teamMembers{
    max-width: 1234px;
    margin: auto;
  }

  .teamMember{
    max-width: 1234px;

    img{
      width: 247px;
      float: left;
    }

    .textBox{
      margin-top: 30px;
      max-width: 926px;
      float: right;
    }
    p {
      width: 926px;
    }

  }

    div.teamMember:nth-child(odd){
      float:none;
   }

    div.teamMember:nth-child(even){
      float:none;
  }
}




// -------------------------------
// Degree Requirements
.degreeRequirements {
  text-align: center;

  input {
    text-align: center;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .active {
    background-color: $ubcBlue;
  }

  .degreeRequirementsFrameWrapper {
    left: 50%;
    margin-left: -500px;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    width: 1000px;
  }

  .degreeRequirementsFrame {
    width: 1000px;
    overflow: auto;
  }

  #specificFrame {
    height: 11730px; // height we want iframe to scroll to, keep it around this
  }

  #specificFrameWrapper{
    height: 600px;
  }

  #generalFrame {
    height: 2000px;
  }

  #generalFrameWrapper {
    height: 470px;
    top: 800px;
    overflow: hidden;
  }
}

// -------------------------------
// Element Styling ----
a:focus {
    color: $ubcGrey;
}

body {
  background-color: $ubcLightBlue;
}






