/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states';

// Navbar Styling ----

.pure-menu {
    background-color: $navbarBlack !important;
}

.pure-menu-link {
    color: $navbarWhite; 
}

.navbarLinkActive  {
    background-color:  #1F8DD6 !important;
}

// TODO style this 
.aboutSelected {
    background-color: $gray;
}

// TODO style this 
.pure-menu-children {
    background-color: $navbarBlack;
}

// ----



.img {
    width:  50%;
    height: 50%;
  border-radius: 100%;
 
  
}

.teamMember {
    text-align: center;
}

.teamMemberDetails {
    display: block;
    text-align: center;
    padding: 3em;
    padding-top: 1em;
}
body {
  background-color: #f1f4f9;
}


